
// .footer {
//     background-color: #ffffff;
//     padding: 50px 0;
//     color: black;
  
//     .container {
//       display: grid;
//       grid-template-columns: repeat(6, 1fr);
//       grid-gap: 20px;
//     }
  
//     .footer-column {
//       h3 {
//         font-weight: 500;
//         margin-bottom: 30px;
//         font-size: 1.5rem;
//         font-family:Arial, Helvetica, sans-serif;
        
//       }
      
//       ul {
//         list-style: none;
//         padding: 0;
//         margin: 0;
        
//         li {
//           color: black;
//           margin-bottom: 20px;
//           font-size: 12px;
//           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//         }
//       }
//       .social-icons {
//         img {
//           width: 24px;
//           margin-right: 10px;
//         }
//       }
//     }
  
//     .footer-bottom {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       margin-top: 20px;
//       border-top: 1px solid rgba(255, 255, 255, 0.1);
//       padding-top: 20px;

      
//       .contact-info {
//         p {
//           margin: 5px 0;
//         }
//       }
  
//       .social-icons {
//         img {
//           width: 24px;
//           margin-right: 10px;
//         }
//       }
//     }
  
//     .legal {
//       text-align: center;
//       padding-top: 30px;
//       background: #ffffff;
//     color: black;    }
  
//     @media screen and (max-width: 800px) {
//       .container {
//         grid-template-columns: repeat(2, 1fr);
//       }
//     }
//   }
  


.footer {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: bottom center; /* Position the image as needed */
  background-size: contain; /* Adjust the size as needed */
  padding: 50px 0;
  color: black;

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .footer-column {
    h3 {
      font-weight: 500;
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: black;
        margin-bottom: 20px;
        font-size: 12px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    }

    .social-icons {
      img {
        width: 24px;
        margin-right: 10px;
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    padding-left: 5%;

    .contact-info {
      p {
        margin: 5px 0;
      }
    }

    .social-icons {
      img {
        width: 24px;
        margin-right: 10px;
      }
    }
  }

  .legal {
    text-align: center;
    padding-top: 30px;
    background: #ffffff;
    color: black;
  }

  @media screen and (max-width: 800px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
